@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 60px;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.projects {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}
