@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 76px;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.certificate {
  margin-top: 37px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  border-radius: 10px;
  background: linear-gradient(180deg, #132a53 100%, #576cbc 0%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: auto;
}

.image {
  margin-bottom: 26px;
}

.details {
  margin-right: 18px;
}

.courseTile {
  font-size: 25px;
  font-weight: 700;
  justify-content: center;
}

.organization {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  border-radius: 7px;
  margin-right: 9px;
}

.openBtn {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .certificate {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .details {
    width: 100%;
    flex-direction: row;
  }

  .openBtn {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 500;
  }
}
