@import "../../vars.css";

.container {
  color: var(--color-text);
  margin: 76px 10% 0 10%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.certificate {
  margin-top: 37px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  border-radius: 10px;
  background: linear-gradient(180deg, #132a53 100%, #576cbc 0%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 9px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 20px 0 rgba(4, 21, 45, 0.8),
    0 0 15px 5px rgba(87, 108, 188, 0.7);
}

@media screen and (max-width: 830px) {
  .container {
    margin-bottom: 0;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  .certificate {
    width: calc(50% - 15px);
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .certificate {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin-top: 10%;
  }
}
